html {
    font-size: 18;
    background-color: #278AB0;
}

h1, h2, h3, p {
    text-align: center;
}

body, .footer{
    margin: 0;
}

/* navigation setting*/

nav {
    display: flex;
    justify-content:space-between;
    height: 10%;
    width: 100%;
    flex-direction: row;
    background-color: #1C4670;
    border-bottom: 2px solid black;
}

#logo {
    display: flex;
    border-right: 2px solid black;
}

.navbar {
    display: flex;
    align-items: center;
}

.navitem {
    margin: 0em .3em;
    padding: 0em 1em;
    display: flex;
    background-color: #278AB0;
    height: 55%;
    width: auto;
    align-items: center;
    justify-content: center;
    color: black;
    border: 2px solid black;
    border-radius: 3px;
}

.navitem:hover {
    background-color: #1DC690;
    color: black;
    cursor: pointer;
}

#active_tab {
    background-color: #1DC690;
    color: black;
}

/*title block settings*/

.start_block_container {
    background-color: #278AB0;
}

.start_block {
    background-image: url(./resources/home-main.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #1f1821;
    color: #1C4670;
    height: 500px;
    background-size: 900px 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#description{
    display: flex;
    font-size: .5rem;
    background-color: ivory;
    border: 1px solid;
    border-radius: 3px;
    padding: .5em;
}

#page_title{
    display: flex;
    font-size: 1.5rem;
    background-color: ivory;
    border: 1px solid;
    border-radius: 3px;
    padding: .5em;
}

/*subject containers*/
.subjects {
    background-color: #278AB0;
    margin: 1em 0;
}

.subj_container {
    display: flex;
    width: 100%;
    height: 200px;
    justify-content: space-evenly;
    padding: 15px 0;
    margin: 0;
    background-color: #278AB0;
}

.subject1 {
    background-image: url(./resources/home-lighting.jpeg);
}

.subject2 {
    background-image: url(./resources/home-webdev.jpeg);
}

.subject {
    display: inline-flex;
    height: 100%;
    justify-content: center;
    align-items:center;
    border: 3px solid;
    border-radius: 5px;
    background-size: 346px 100%;
    background-repeat: no-repeat;
}

.subject1:hover, .subject2:hover {
    cursor: pointer;
}

#web_link, #light_link{
    color: #1C4670;
    background-color:ivory;
    border: 1px solid;
    border-radius: 3px;
}

/* SCREEN SIZE SETTINGS AND CONTROL */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #description {
        margin: 0 7%;
        font-size: .85rem;
    }

    #page_title {
        font-size: 1.45rem;
    }
    .subject1, .subject2 {
        width: 45%;
    }

    .footnav p {
        font-size: 1.5rem
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #description {
        margin: 0 10%;
        font-size: .9rem;
    }

    #page_title{
        font-size: 1.55rem;
    }

    .subject1, .subject2 {
        width: 45%;
    }

    .footnav p {
        font-size: 1rem
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    #description {
        margin: 0 13%;
        font-size: .95rem;
    }

    #page_title{
        font-size: 1.65rem;
    }

    .subject1, .subject2 {
        width: 346px;
    }

    .footnav p {
        font-size: 1rem
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #description {
        margin: 0 20%;
        font-size: 1rem;
    }

    #page_title{
        font-size: 1.75rem;
    }

    .subject1, .subject2 {
        width: 346px;
    }

    .footnav p {
        font-size: 1rem
    }
}

/* END SCREEN SETTINGS */

/* footer black settings*/

.footer{
    background-color: #1C4670;
    margin: 0px;
    padding: 3px;
}

.footnav {
    height: 10%;
    display: flex;
    justify-content: space-around;
}

.footnav p {
    display: inline-block;
    color: #1DC690;
}