html {
    font-size: 18;
    background-color: lightslategray;
}

h1, h2, h3, p {
    text-align: center;
}

body, .footer{
    margin: 0;
}

/* navigation setting*/

nav {
    display: flex;
    justify-content:space-between;
    height: 10%;
    width: 100%;
    flex-direction: row;
    background-color: lightgrey;
    padding: 3px;
}

#logo {
    height: 90%;
    display: flex;
    border: 2px solid black;
    border-radius: 100px;
}

.navbar {
    display: flex;
    align-items: center;
}

.navitem{
    margin: 10px;
    display: flex;
    background-color: darkviolet;
    height: 55%;
    width: auto;
    align-items: center;
    justify-content: center;
    color: white;
    border: 2px solid black;
    border-radius: 10px;
}

.navitem:hover {
    background-color: darkturquoise;
    color: black;
    cursor: pointer;
}

#active_tab {
    background-color: darkturquoise;
    color: black;
}

/* Credits */
.blurb {
    width: 768px;
    background-color: white;
    margin: 20px auto;
    padding: 10px;
}

ul, li {
    text-align: center;
    list-style-type: none;
}



/* Gallery */

.gallery {
    display:flex;
    width: 90%;
    height: auto;
    flex-wrap: wrap;
    justify-content: space-around;
    margin:auto;
}
.gallery_item {
    height: 300px;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: none;
}
.gallery_item img{
    height: 225px;
    width: 300px;
}

/* SCREEN SIZE SETTINGS AND CONTROL */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .blurb {
        width: 100%;
    }

    .gallery{
        width: 100%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .blurb {
        width: 100%;
    }

    .gallery{
        width: 600px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .blurb {
        width: 768px;
    }

    .gallery{
        width: 750px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .blurb {
        width: 768px;
    }

    .gallery{
        width: 1050;
    }
}

/* END SCREEN SETTINGS */


.footer{
    background-color: lightgrey;
    margin: 0px;
    padding: 3px;
}

.footnav {
    height: 10%;
    display: flex;
    justify-content: space-around;
}

.footnav p {
    display: inline-block;
}